.auth_editors {
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  
  .auth_editor {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    height: 32px;
    margin-top: 30px;
    word-spacing: normal;
    padding: 2px 10px;
    line-height: 1.5;
    outline: 2px solid #000;
    border-radius: 4px;
    width: 364px;
  }
  
  .login_editor_input {
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 0 3px 1px;
    width: 100%;
  }
  
  .auth_button {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #1b1918;
    margin-top: 30px;
    margin-bottom: 16px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    height: 40px;
    width: 100%;
  }
  
  .auth_button:hover {
    opacity: 0.9;
  }
  
  .text_under-submit {
    position: relative;
    font-size: 14px;
  }
  
  .text_register_link {
    text-decoration: none;
  }
  
  .text_register_link:hover {
    text-decoration: underline;
  }