.App {
  background: rgb(139, 138, 138);
}

.auth_column {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.auth_block {
  background: #ffffff;
  border-radius: 2px;
  padding-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 378px;
  width: 436px;
}

.auth_logo {
  align-self: center;
  border-radius: 4px;
  margin: 76px auto 37px;
  max-width: 208px;
}